<!DOCTYPE html>
<html lang="en" dir="ltr">
 <head>
   <meta charset="utf-8">
   <title>Flask Parent Template</title>
   <link rel="stylesheet" href="{{ url_for('static',     filename='css/template.css') }}">
   <script type="text/javascript" src="{{ url_for('static',     filename='js/base.js') }}"></script>
 </head>
 <body>
    <span id="sidemenu" style="font-size:30px;cursor:pointer;" onclick="openNav()">&#9776;</span>
    <header>      
      <div class="container">
        <h1 class="logo">TriStar LIMS</h1>
        <img src="{{ url_for('static',     filename='img/SG.png') }}" alt="">
      </div>
    </header>
    
    <div id="sideNav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()" style="position: absolute;top: 0%;">&times;</a>
      <a href="{{ url_for('home') }}">Home</a>
      <a href="{{ url_for('about') }}">SAP Month End Report</a>
    </div>
    
    {% block content %}
    {% endblock %}
    
 </body>
</html>